<!-- Loop over each object in the projects array -->
{{#each personas as |persona| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <img src="/images/{{persona.filename}}">
      <a href="/persona/{{persona.id}}">{{persona.name}}</a>
    </h2>
  </div>
  <div class="col-md-7">
    <p>
      {{persona.description}}
    </p>
  </div>
</div>
{{/each}}
