<div class="biggest-box">
  <div class="bigger-box">
    {{#each personas as |persona| }}
    <div class="box">
      <img src="/images/{{persona.filename}}">
      <h3>
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        <a href="/persona/{{persona.id}}">{{persona.name}}</a>
      </h3>
      <p>
        {{persona.short_description}}
      </p>
    </div>
    {{/each}}
  </div>
</div>