 <div class="row">
  <div class="col-md-6 box">
    <h2>Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <label for="name-signup">first name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="location-signup">location (state):</label>
        <input class="form-input" type="text" id="location-signup" />
      </div>
      <div class="form-group">
        <label for="food-signup">favorite food:</label>
        <input class="form-input" type="text" id="food-signup" />
      </div>
      <div class="form-group">
        <label for="music-signup">favorite music genre:</label>
        <input class="form-input" type="text" id="music-signup" />
      </div>
      <div class="form-group">
        <label for="hobby-signup">random hobby:</label>
        <input class="form-input" type="text" id="hobby-signup" />
      </div>
      <div class="form-group">
        <label for="funfact-signup">fun fact about yourself:</label>
        <input class="form-input" type="text" id="funfact-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
  <div class="col-md-6 login-box">
    <h2>Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
