<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p> <!--change to photo instead of emoji-->
  <p>{{description}}</p>
  <p>
    <!--<span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">text</span>-->
  </p>
  <p>
    <button class="btn btn-primary">Check out other personas!</button>
  </p>
</div>
