<div class="bigger-simple-box">
  <div class="text-center text-primary simple-box">
    <h3>{{name}}</h3>
    <p><img src="/images/{{filename}}"></p>
    <p>{{long_description}}</p>
    <p>
    {{#if logged_in}}
      <a href="/profile">
        <button class="btn btn-primary text-white">Start chatting now!</button>
      </a>
    {{/if}}
      <a href="/">
        <button class="btn btn-primary text-white">Meet other personas!</button>
      </a>
    </p>
  </div>
</div>