<div class="bigger-simple-box">
  <div class="text-center text-primary simple-box">
    <h2>{{name}}</h2>
    <p><img src="/images/{{filename}}"></p>
    <p>{{description}}</p>
    <p>
      <a href="/">
        <button class="btn btn-primary text-white">Check out other personas!</button>
      </a>
    </p>
  </div>
</div>