<div>
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div>
  <div>
    <h3>Ask A PersonaPal</h3>
      <select id="personality-select">
        <option value="Frank Reynolds">Frank Reynolds</option>
        <option value="Harry Potter">Harry Potter</option>
        <option value="Dwight Schrute">Dwight Schrute</option>
        <option value="Yoda">Yoda</option>
      </select>
    <div id="chat-container">
      <div id="chat-box">

      </div>
      <div id="message-input-container">
        <input type="text" id="user-input" placeholder="Ask a question..." />
        <button id="send-button">Send</button>
      </div>
    </div>

  </div>

  <script src="./js/profile.js"></script>