header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #66668b;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #5300fe;
  text-decoration: underline;
}

header {
  height: 60px;
}

.header-title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.biggest-box {
  display: flex;
  justify-content: center;
}

.bigger-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
}

.box {
  background-color: #f0f0f5;
  width: 100px;
  /* height: 100px; */
  margin: 10px;
  flex: 45%;
  border-radius: 10px;
  padding: 10px;
  color: #4d516a
}

.bigger-simple-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.simple-box {
  background-color: #f0f0f5;
  width: 250px;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  color: #4d516a
}